
body {
    background: #672451;
    font-family: Arial;
}
h1 {
    color: red;
}
/* ohKGJJw39IdpDL3lJHmJkbBw4fQ0yEvAh8TzuC08b9IFStRfcdwW9aB0GDQmYm9lPFn3siPPo7OLc4mAVUQtAEiXWgIf3pCGmAkBXZKEd3HRrcXbRGLC5ZtSD7RsUfqeF1npT4esLjDG4hTiAYSkgLYIA7t5i1dhkmWdv3CGMI9xj4LXDqF8yALiKT0W0fUBm9c70awm */
